<h1>Students#index</h1>
<p>Find me in app/views/students/index.html.erb</p>

<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>
<h1>Halaman Student</h1>

<table border="1">
    <tr>
        <td align="center">Name</td>
        <td align="center">Username</td>
         <td align="center">Age</td>
          <td align="center">Rombel</td>
        <td align="center">Address</td>
         <td align="center">City</td>
          <td align="center">NIK</td>
         <td align="center" colspan="3">Action</td>
    </tr>
    <% @students.each do |student| %>
        <tr>
            <td><%= student.name %></td>
            <td><%= student.username %></td>
             <td><%= student.age %></td>
              <td><%= student.rombel %></td>
               <td><%= student.address %></td>
                <td><%= student.city %></td>
                 <td><%= student.nik %></td>
            <td><%= link_to 'Detail',student_path(student) %></td>
             <td><%= link_to 'Edit',edit_student_path(student) %></td>
              <td><%= link_to 'Delete',student_path(student), method: :delete, data: {confirm: 'are you sure for delete this file?'} %></td>
            </tr>
            <% end %>
        </table>

<%= link_to 'New Student', new_student_path %>