<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>


name : <%= @student.name %> </br>
username : <%= @student.username %> </br>

name : <%= @student.name %> </br>
username : <%= @student.username %> </br>

<%= link_to 'kembali ke halaman sebelumnya',students_path %>