

<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>
<h1>Halaman Exam</h1>

<table border="1">
    <tr>
        <td align="center">Title</td>
        <td align="center">Mapel</td>
         <td align="center">Duration</td>
          <td align="center">Nilai</td>
        <td align="center">Keterangan</td>
         <td align="center">Level</td>
          <td align="center">Student_ID</td>
         <td align="center" colspan="3">Action</td>
    </tr>
    <% @exams.each do |Exams| %>
        <tr>
            <td><%= Exams.title %></td>
            <td><%= Exams.mapel %></td>
             <td><%= Exams.duration %></td>
              <td><%= Exams.nilai %></td>
               <td><%= Exams.keterangan %></td>
                <td><%= Exams.level %></td>
                 <td><%= Exams.student_id %></td>
            <td><%= link_to 'Detail',Exams_path(Exams) %></td>
             <td><%= link_to 'Edit',edit_Exams_path(Exams) %></td>
              <td><%= link_to 'Delete',Exams_path(Exams), method: :delete, data: {confirm: 'are you sure for delete this file?'} %></td>
            </tr>
            <% end %>
        </table>

<%= link_to 'New Exam', new_Exams_path %>