<% if flash[:notice].present? %>
<%= flash[:notice] %>
<% end %> </br>


title : <%= @Exams.title %> </br>
mapel : <%= @Exams.mapel %> </br>

title : <%= @Exams.title %> </br>
mapel : <%= @Exams.mapel %> </br>

<%= link_to 'kembali ke halaman sebelumnya',exams_path %>